.aboutbox .worksheet-wrap{
    float: right;
    width: 400px;
}

.worksheet-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.worksheet-info{
    float: left;
    margin-left: 25px;
    max-width: 260px;
}
.worksheet-item{
    margin-bottom: 8px;
}

.worksheet-what{
    font-family: fira_sansmedium;
    font-size: 16px;
    float: left;
}

.worksheet-info{
    font-family: fira_sansbook;
    font-size: 15px;
    overflow: hidden;
    max-width: 218px;
}

/*endof data-list*/

/*common styles*/
.aboutbox{
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
}

.aboutbox .aboutbox-header{
    font-family: fira_sansbook;
    font-size: 27px;
    font-weight: normal;
    color: #3ba8c0;
    border-bottom: 2px #3ba8c0 solid;
    margin: 0 0 23px 0;
    padding: 13px 23px;
    display: inline-block;
}

.aboutbox-body{
    padding-bottom: 40px;
}
/*endof common styles*/

/*facing*/
.image-wrap{
    float: left;
    margin-left: 55px;
    margin-top: 18px;
}
.avatar-box{
    width: 142px;
    height: 142px;
    border-radius: 50% 50%;
    overflow: hidden;
    border: 5px solid #3ba8c0;
}


.aboutbox .aboutbox-item{
    padding: 0 0 0 76px;
    margin-bottom: 20px;
}

.aboutbox .aboutbox-item:last-child{
    margin-bottom: 0;
}

.aboutbox-item .where{
    font-family: fira_sansbook;
    font-size: 16px;
}

.aboutbox-item .period{
    font-family: fira-sanslight;
    font-size: 15px;
    line-height: 1;
}

.aboutbox-item.icon-work{
    background: url("../img/lock-close.png");
}
.aboutbox-item.icon-college{
    background: url("../img/lock-open.png");
}
.aboutbox-item.icon-cource{
    background: url("../img/lock-close.png");
}