html{
    height: 100%;
}

body{
    height: 100%;
    background: url(../img/bg.jpg) repeat;
    font: normal 1em 'fira_sanslight';
    color: #4a545d;
}
/* stick footer to floor*/
.wrapper{
    position: relative;
    min-height: 100%;
    min-width: 970px;
    height: auto;
    /*overflow: hidden;*/
}

.wrapper:after{
    content: "";
    height: 80px;
    display: block;
}

.page-footer{
    min-width: 970px;
    height: 80px;
    margin-top: -80px;
}

/*endof nail footer*/

/*header*/
.container-big{
    /*max-width: 1200px;*/
    min-width: 960px;
    height: 100%;
    position: relative;
}
.page-header{
    height: 119px;
    background: #eff3f7;
    position: relative;
    margin-bottom: 39px;
}
.page-header .header-logo-link{
    position: absolute;
    top: 39px;
    left: 20px;
}
.page-header .header-logo-text{
    position: absolute;
    left: -9999px;
}
.page-header .socials{
    float: right;
    position: absolute;
    right: 0;
    top: 36px;
}

/*icons*/
.socials-link{

    border-radius: 2.9rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 2.9rem;
    line-height: 2.9rem;
    /*margin: 0 5px;*/
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.9rem;
}


.socials-link i {
    text-align: center;
    background: none;
    color: rgba(112, 0, 255, 0.4);
    height: 3.0rem;
    left: 0;
    line-height: 3.0rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.0rem;
    z-index: 10;
}

.socials{
    margin: 0;
    padding: 0;
    min-width: 200px;
}
.socials .socials-item{
    list-style: none;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-left: 19px;
    margin-bottom: auto;
}
.socials .socials-item:first-child{
    margin-left: 0;
}

.socials-link:hover .icon-ln{
    color: #0077b5;
}
.socials-link:hover .icon-fb{
    color: #3b5998;
}
.socials-link:hover .icon-git {
    color: #181717;
}
.socials .socials-link{
    display: block;
    height: 100%;
    width: 100%;
    font-size: 2.4em;
    text-decoration: none;
}
/*endof socials*/
/*sidebar*/
.sidebar{
    width:250px;
    float: left;
}


/*navigation*/

.navigation{
    overflow: hidden;
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
}

.navigation .navigation-list{
    list-style:none;
    margin: 0;
    padding: 0;
}

.navigation .navigation-item{
    border-top: 2px solid #3ba8c0;
}
.navigation .navigation-item:first-child{
    border-top: none;
}
/*navigation current item*/
.navigation .navigation-item.current{
    background: #3ba8c0;
    margin: 0;
    border-bottom: none;
    padding-left: 11px;
    margin-bottom: -2px; /*hack*/
}

.navigation .navigation-item.current .navigation-link{
    color:#f9fafb;
    font-size:22px;
}
/*navigation endof current item*/
.navigation .navigation-link{
    font-family: fira_sansbook;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #959aa8;
    margin-left: 16px;
    padding: 20px 0px;
}

.navigation .navigation-link:hover{
    color:#3ba8c0;
}

/*navigatione - end*/

/*main region*/
.variable-content{
    width: 650px;
    float: right;
}

/* footer*/

.page-footer{
    background: #eff3f7;
    font-family: 'fira-sanslight';
    color: #4a545d;
}
.page-footer .container{
    padding-top: 23px;
    position: relative;
}
.page-footer .copyright{
    margin: 0 180px;
    padding-top: 7px;
    text-align: center;
    font-size: 13px;
}

/*login*/
.page-footer .lock{
    position: absolute;
    top: 26px;
    left: 10px;
}
.lock-inner{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 1.8em;
   
}
.icon-unlock{
    color: rgba(50, 170, 50, 0.3);
    display: inline-block;
}
.icon-unlock:hover{
    color: rgba(50, 170, 50, 1.0);
    transform: scale(1.5,1.5);
}
/* endof login */
/*endof  footer*/

/*common classes*/
.container{
    width: 960px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
/*clearfix*/
.container:before, .clearfix:before, .container:after, .clearfix:after{
    content: " "; /*  1 */
    display: table; /* 2 */
}
.container:after, .clearfix:after{
    clear: both;
}
